@import "tailwindcss";

@layer base {

    html,
    body,
    #root {
        height: 100%;
    }

    body {
        @apply bg-[color:var(--bg)] text-[color:var(--text)] antialiased;
        @apply transition-colors;
    }

    ::selection {
        background: var(--accent);
        color: var(--surface);
    }
}